.video_holder{
    overflow: hidden;
}
.main_container{
    position: absolute;
    z-index: 999;
}
.gradient-blob {
  position: fixed;
  top: 0;
  left: 0;
  width: 10vw;          /* big blob */
  height: 10vw;
  pointer-events: none;  /* so it doesn't block clicks */
  background:  radial-gradient(circle, #eab942, #ec9c26, #ed7c14, #ed5613, #ea171e);;
  filter: blur(3vw);
  transform: translate(-20%, -20%);
  transition: background 0.3s ease;
  mix-blend-mode: screen; /* blends nicely with background */
  z-index: 800;
  opacity: 90%;         /* barely visible */
  animation: wow infinite 5s ease-in-out;
}

@keyframes wow {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.loading{
    position: absolute;
    z-index: 9999;
    background-color: black;
}
.progress-bar{
    height: 0.1vh;
    width: 0vw;
    background:  radial-gradient(circle, #eab942, #ec9c26, #ed7c14, #ed5613, #ea171e);
}

/* hero sections animation */
.animate-text {
  display: inline-block;
  overflow: hidden;
  visibility: hidden;
}.animate-text .word {
  display: inline-block;
  margin-right: 0.25em;
  transform: translateY(100%);
  opacity: 0;
}

.about-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 8vw;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

.about-text {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0.5vw;
}

.about-image-wrapper {
  width: 0;
  height: 0;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-full {
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
