@import url('https://fonts.cdnfonts.com/css/pp-neue-montreal');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'PPEditorialOld';
    src: url('../resources/PPEditorialOld-Italic.otf');
}
:root{
    --dark_color: #161617;
    --primary_font: 'PP Neue Montreal', sans-serif;
}


h1{
    font-size:  7vw;
}
h2{
    font-size: 2vw;
}
h3{
    font-size: 1.2vw;
}
h4{
    font-size: 1vw;
}

a{
    text-decoration: none;
}
/* widths */
.w_fc{
    width: fit-content;
}
.w_50{
    width: 50%;
}
.w_100{
    width: 100%;
}

/* heights */
.h_fc{
    height: fit-content;
}
.h_50{
    height: 50%;
}
.h_90{
    height: 90%;
}
.h_10vh{
    height: 10vh;
}
.h_100vh{
    height: 100dvh;
}
.h_100{
    height: 100%;
}

/* backgrounds */
.bg_dark{
    background-color: var(--dark_color);
}

/* grid */
.grid{
    display: grid;
}

/* columns */
.col_2{
    grid-template-columns: repeat(2, 1fr);
}
/* rows */
.row_2{
    grid-template-rows: repeat(2, 1fr);
}


/* margins */
.mtop_5vh{
    margin-top: 5vh;
}

/* overflow */
.overflow_hidden{
    overflow: hidden !important;
}

/* flexs */
.flex{
    display: flex;
}
.flex_cl{
    display: flex;
    flex-direction: column;
}

/* colors */
.black_cl{
    color: var(--dark_color) !important;
}
.white_cl{
    color: white;
}

/* justifys */
.justify_c{
    justify-content: center;
}
.justify_sb{
    justify-content: space-between;
}
.justify_fe{
    justify-content: flex-end;
}
.justify_fs{
    justify-content: flex-start;
}

/* aligns */
.align_fe{
    align-items: flex-end;
}
.align_fs{
    align-items: flex-start;
}
.align_c{
    align-items: center;
}

/* paddings */
.pright_1{
    padding-right: 1%;
}
.pleft_1{
    padding-left: 1%;
}
.pright_2{
    padding-right: 2%;
}
.pleft_2{
    padding-left: 2%;
}
.padding_s2{
    padding-left: 2vw;
    padding-right: 2vw;
}
.padding_s5{
    padding-left: 5vw;
    padding-right: 5vw;
}
.padding_vs{
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.padding_v10{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

/* texts */
.secondary_font{
    font-family: 'PPEditorialOld';
    font-weight: 400;
}
.primary_font{
    font-family: var(--primary_font);
}
.text_ac{
    text-align: center;
}

/* objects */
.object_fco{
    object-fit: cover;
    object-position: center;
}

/* fonts */
.font_w400{
    font-weight: 400;
}
.font_w500{
    font-weight: 500;
}

/* gaps */
.gap_s{
    gap: 1vw;
}

.line_h95{
    line-height: 95%;
}

@media (max-width: 999px) {
    h1{
        font-size:  12vw;
    }
    h2{
        font-size: 5.5vw;
    }
    h3{
        font-size: 3.5vw;
    }
    h4{
        font-size: 3vw;
    }
}
@media (max-width: 699px){
    h2{
        font-size: 7vw;
    }
    h3{
        font-size: 5.5vw;
    }
    h4{
        font-size: 4vw;
    }
}